.header { 
    background-color: #16263B;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.logo {
    align-items: flex-start;
}
  
.header-buttons {
    display: flex;
    align-items: center;
}
.header-buttons button {
    text-align: right;
    margin: auto 10px auto 0px;
    justify-content: flex-end;
}